/* DISPLAY STYLING */
.display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
}

.display-results {
    color: #fff;
    display: flex;
    margin: 2% auto;
    width: 80%;
}

.display-image {
    width: 100%;
}

/* Tablet sizing */
@media only screen and (max-width: 768px) {
    .display-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

/* Mobile sizing */
@media only screen and (max-width: 575px) {
    .display-container {
        display: block;
    }
    .display-image {
        margin: 5px 0;
    }
  }