/* DISPLAY STYLING */
.display-container {
    column-count: 3;
    grid-column-gap: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.display-image {
    margin-bottom: 20px;
    height: auto;
    width: 100%;
}

/* RESPONSIVE styling */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .display-container {
      column-count: 2;
    }
  }

@media only screen and (max-width: 575px) {
    .display-container {
        column-count: 1;
      }
}